/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@font-face {
    font-family: "my_font";
    src:local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
    unicode-range: U+4E00-9FFF, U+2E80-2EFF, U+0020-007F;
}
@font-face{
    font-family: 'my_font';
    src:url(../font/Bahnschrift.TTF);
    unicode-range: U+0020-007F;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
body {
    line-height: 1;
}
main {
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: "my_font";
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
select,input {
    font-family: "my_font";
    outline: none;
}
html {
    font-family: "my_font";
    background: white;
    box-sizing: border-box;
    margin: 0px auto;
    // user-select: none;
}
a:link {
    text-decoration: none;
}

//內容

html {
    width: 100%;
    height: 100%;
    background-color: #03114d;
    body{
        min-width: 1200px;
        height: auto;
        overflow: hidden;
        main {
            width: 100%;
            height: 1000px;
            overflow: hidden;
            article {
                width: 1100px;
                height: 100%;
                margin: 0px auto;
                section {
                    width: 50%;
                    height: 100%;
                    float: left;
                    &.right {
                        .logo {
                            width: 427px;
                            height: 184px;
                            background: url('../images/logo.png') no-repeat;
                            background-size: 100%;
                            margin: 97px 0px 0px 65px;
                        }
                        .inputbox {
                            width: 496px;
                            height: 323px;
                            margin: -18px 0px 0px 31px;
                            background: url('../images/wordBox.png') no-repeat;
                            background-size: 100%;
                            .acc,.pass {
                                position: relative;
                                float: left;          
                                margin: 43px 0 0 116px;
                                &.pass {
                                    margin-top: 28px;
                                }
                                input {
                                    width: 268px;
                                    height: 36px;
                                    font-size: 22px;
                                    background: none;
                                    border: none;
                                    text-align: center;
                                    color: #ffffff;
                                    letter-spacing: 1px;
                                    padding-right: 48px;
                                    box-sizing: border-box;
                                    &::placeholder {
                                        color: #ffffff;
                                    }
                                }
                            }
                            button {
                                display: block;
                                width: 348px;
                                height: 71px;
                                background: url('../images/inputBtn.png') no-repeat;
                                background-size: 100%;
                                color: #261400;
                                font-weight: bold;
                                font-size: 25px;
                                box-sizing: border-box;
                                padding-bottom: 6px;
                                margin: 30px 0 0 55px;
                                float: left;
                                &:hover,&:active,&.active {
                                    background-position-y: 100%;
                                    padding: 0;
                                }
                            }
                        }
                    }
                    &.left {
                        position: relative;
                        .img1 {
                            width: 651px;
                            height: 862px;
                            background: url('../images/img1.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: -83px;
                            top: 138px;
                            z-index: -1;
                        }
                        .img2 {
                            width: 247px;
                            height: 522px;
                            background: url('../images/img2.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: 263px;
                            top: 112px;
                            z-index: -2;
                            animation: img2 1s ease-out 0s;
                        }
                        .img3 {
                            width: 236px;
                            height: 436px;
                            background: url('../images/img3.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: 129px;
                            top: 70px;
                            z-index: -3;
                            animation: img3 1s ease-out 0s;
                        }
                    }
                }
            }
        }
        //背景
        .bg {
            position: absolute;
            top: 0px;
            width: 100%;
            min-width: 1200px;
            height: 100%;
            background: url('../images/bg.jpg') no-repeat top center;
            z-index: -999;
        }
    }
}
@keyframes img2 {
    0% {
        opacity: 0;
        transform: translate(-30%,30%);
    }
    40% {
        opacity: 0;
        transform: translate(-30%,30%);
    }
    100% {
        opacity: 1;
        transform: translate(0%,0%);
    }
}
@keyframes img3 {
    0% {
        opacity: 0;
        transform: translate(-10%,-40%);
    }
    60% {
        opacity: 0;
        transform: translate(-10%,-40%);
    }
    100% {
        opacity: 1;
        transform: translate(0%,0%);
    }
}